# Configuration file

####################
# block
####################

block {
    I:BorderedQuartz=3543
    I:DimensionalBridgeStabilizer=3542
    I:EmptyDBS=3545
    I:EnderInfusedMetal=3544
    I:Frame=3540
    I:Portal=3541
}


####################
# item
####################

item {
    I:BlankPortalModule=30737
    I:BlankUpgrade=30736
    I:Glasses=30741
    I:LocationCard=30740
    I:Manual=30735
    I:Nanobrush=30742
    I:PortalModule=30739
    I:Upgrade=30738
    I:Wrench=30743
}


####################
# misc
####################

misc {
    B:ForceShowFrameOverlays=false
}


####################
# overrides
####################

overrides {
    B:DisableParticles=false
    B:DisableSounds=false
}


####################
# portal
####################

portal {
    I:ActivePortalsPerRow=2
    B:FasterPortalCooldown=false
    B:PortalsDestroyBlocks=true
}


####################
# power
####################

power {
    D:DBSPowerStorageMultiplier=1.0
    D:PowerMultiplier=1.0
    B:RequirePower=true
}


